<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>Demo App</title>

  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-cerulean.min.css">
  <!--<link rel="stylesheet" href="assets/css/main.css">-->
  
  <!--<link rel="shortcut icon" sizes="32x32" href="/images/app-icon-32.png">-->
  
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>-->
	
  <style>
	body {
		background-color: #eee;
	}
  </style>
</head>
<body>
	<div id="app"></div>

	<script > 
	   Global_Data = <%-JSON.stringify(data)%>
	</script>
	<!--<script src="/bower_components/react/react.min.js"></script>
	<script src="/bower_components/react/react-dom.min.js"></script>
	<script src="/bower_components/mobx/flow-typed/mobx.js"></script>
	<script src="/bower_components/babel/browser.min.js"></script>-->
	<script src="/react_components/country/main.min.js"></script>

	</body>
</html>